%p
  您的某个 GitLab Pages 自定义域名验证失败！
%p
  项目: #{link_to @project.human_name, project_url(@project)}
%p
  域名: #{link_to @domain.domain, project_pages_domain_url(@project, @domain)}
%p
  Unless you take action, it will be disabled on
  %strong= @domain.enabled_until.strftime('%F %T.')
  Until then, you can view your content at #{link_to @domain.url, @domain.url}
%p
  Please visit
  = link_to 'these instructions', help_page_url('user/project/pages/getting_started_part_three.md', anchor: 'dns-txt-record')
  for more information about custom domain verification.
= render 'removal_notification'
