%fieldset
  %legend 权限
  .form-group.row
    .col-sm-2.col-form-label
      = f.label :projects_limit
    .col-sm-10
      = f.number_field :projects_limit, min: 0, max: Gitlab::Database::MAX_INT_VALUE, class: 'form-control'

  .form-group.row
    .col-sm-2.col-form-label
      = f.label :can_create_group
    .col-sm-10
      = f.check_box :can_create_group

  .form-group.row
    .col-sm-2.col-form-label
      = f.label :access_level
    .col-sm-10
      - editing_current_user = (current_user == @user)

      = f.radio_button :access_level, :regular, disabled: editing_current_user
      = label_tag :regular, class: 'font-weight-bold' do
        普通用户
      %p.light
        普通用户可以访问他们的群组和项目

      = render_if_exists 'admin/users/auditor_access_level_radio', f: f, disabled: editing_current_user

      = f.radio_button :access_level, :admin, disabled: editing_current_user
      = label_tag :admin, class: 'font-weight-bold' do
        管理员
      %p.light
        管理员可以访问所有组，项目和用户，并且可以管理此安装中的所有功能
      - if editing_current_user
        %p.light
          不能删除自己的管理权限。

  .form-group.row
    .col-sm-2.col-form-label
      = f.label :external
    .hidden{ data: user_internal_regex_data }
    .col-sm-10
      = f.check_box :external do
        外部
      %p.light
        External users cannot see internal or private projects unless access is explicitly granted. Also, external users cannot create projects or groups.
      %row.hidden#warning_external_automatically_set.hidden
        .badge.badge-warning.text-white
          = _('Automatically marked as default internal user')
